# LLM Settings
LLM_PROVIDER=ollama
LLM_MODEL=qwen3-vl:235b-instruct
LLM_URL=https://ollama.com/
LLM_API_KEY=api_key
OLLAMA_LOCAL_URL=http://host.docker.internal:11434

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_WEBHOOK_URL=https://your-ngrok-url.ngrok-free.app

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_USER=n8n
POSTGRES_PASSWORD=n8n
POSTGRES_DB=n8n

# Redmine
REDMINE_API_KEY=your_redmine_api_key_here