BASE_URL=http://n8n:5678

# LLM Settings
LLM_PROVIDER=ollama
LLM_MODEL=qwen3-vl:235b-instruct
LLM_URL=https://ollama.com/
LLM_API_KEY=api_key

EMBEDDING_PROVIDER=ollama
EMBEDDING_URL=http://host.docker.internal:11434
EMBEDDING_MODEL=mxbai-embed-large:latest
EMBEDDING_API_KEY=api_key

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_USER=n8n
POSTGRES_PASSWORD=n8n
POSTGRES_DB=n8n

# Redmine Database
REDMINE_DB_HOST=postgres
REDMINE_DB_NAME=redmine
REDMINE_DB_USER=redmine_user
REDMINE_DB_PASSWORD=redmine_password

# Redmine
REDMINE_API_KEY=y12our_redmine_api_key_here