[
  {
    "id": "[[[providers.main[LLM_PROVIDER].cred_id]]]",
    "name": "[[[providers.main[LLM_PROVIDER].cred_name]]]",
    "type": "[[[providers.main[LLM_PROVIDER].cred_type]]]",
    "data": {
      "baseUrl": "={{ $env.LLM_URL }}",
      "apiKey": "={{ $env.LLM_API_KEY }}"
    },
    "isManaged": false,
    "isGlobal": false,
    "isResolvable": false
  },
  {
    "id": "[[[providers.embedding[EMBEDDING_PROVIDER].cred_id]]]",
    "name": "[[[providers.embedding[EMBEDDING_PROVIDER].cred_name]]]",
    "type": "[[[providers.embedding[EMBEDDING_PROVIDER].cred_type]]]",
    "data": {
      "url": "={{ $env.EMBEDDING_URL }}",
      "apiKey": "={{ $env.EMBEDDING_API_KEY }}"
    },
    "isManaged": false,
    "isGlobal": false,
    "isResolvable": false
  }
]